@font-face {
  font-family: 'iconfont';  /* project id 444536 */
  src: url('//at.alicdn.com/t/font_444536_3eaq9t0opuj46lxr.eot');
  src: url('//at.alicdn.com/t/font_444536_3eaq9t0opuj46lxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_444536_3eaq9t0opuj46lxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_444536_3eaq9t0opuj46lxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_444536_3eaq9t0opuj46lxr.svg#iconfont') format('svg');
}
.icon{
	font-family: 'iconfont';
	font-size:12px;
	font-style:normal;
}