@font-face {
  font-family: 'iconfont';  /* project id 444536 */
  src: url('//at.alicdn.com/t/font_444536_nxfnqvy8kxp6i529.eot');
  src: url('//at.alicdn.com/t/font_444536_nxfnqvy8kxp6i529.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_444536_nxfnqvy8kxp6i529.woff') format('woff'),
  url('//at.alicdn.com/t/font_444536_nxfnqvy8kxp6i529.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_444536_nxfnqvy8kxp6i529.svg#iconfont') format('svg');
}
.icon{
	font-family: 'iconfont';
	font-size:12px;
	font-style:normal;
}