
@media only screen and (max-width: 76.25em ) {
	.mod3 {
		margin:0 auto;
		float:none;
		clear: left;
	}
	.main-panel > .play-list {
		float:none;
		margin: 0 auto;
	}
	.main-panel > .play-detail {
		float:none;
		margin:20px auto 0;
	}
	.play-btn > .btn-con::after {
		content:'';
		display: block;
		clear:both;
	}
	.play-btn > .btn-con {
		width:540px;
		margin:0 auto;
	}
}
@media only screen and (max-width: 60em ) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media only screen and (max-width: 36.25em ) {
	.play-list {
		width:100%;
	}
	
}

@media only screen and (max-width: 35em ) {
	.play-btn > .btn-con {
		width:100%;
	}
	.mod1 {
		width:100%;
	}
}